{{ define "tv_action" }}
    <div class="bar">
        <div class="baz2">
            <div class="link-card" >
                <span hx-trigger="click" hx-get="/Shogunsea" hx-target="main" hx-swap="innerHTML"><img src="assets/images/action/shogun.webp" alt="" /></span>
            </div>
        </div>
        <div class="baz2">
            <div class="link-card" hx-trigger="click" hx-get="/continentalsea" hx-target="main" hx-swap="innerHTML">
                <span><img src="assets/images/action/continental.webp" alt="" /></span>
            </div>
        </div>
    </div>
{{ end }}