{{ define "tv_fantasy" }}
<div class="bar">
    <div class="baz2">
        <div class="link-card" hx-trigger="click" hx-get="/houseofthedragon" hx-target="main" hx-swap="innerHTML">
            <span><img src="assets/images/fantasy/houseofthedragon.avif" alt="" /></span>
        </div>
    </div>
    <div class="baz2">
        <div class="link-card" hx-trigger="click" hx-get="/lordoftherings" hx-target="main" hx-swap="innerHTML">
            <span><img src="assets/images/fantasy/thelordoftheringsringsofpower.avif" alt="" /></span>
        </div>
    </div>
    <div class="baz2">
        <div class="link-card" hx-trigger="click" hx-get="/wheeloftime" hx-target="main" hx-swap="innerHTML">
            <span><img src="assets/images/fantasy/wheeloftime.avif" alt="" /></span>
        </div>
    </div>
</div>
{{ end }}