{{ define "tv_mcu" }}
<div class="bar">
    <div class="baz2">
        <div class="link-card" hx-trigger="click" hx-get="/falconwintersoldier" hx-target="main" hx-swap="innerHTML">
            <span><img src="assets/images/mcu/falconwintersoldier.avif" alt="" /></span>
        </div>
    </div>
    <div class="baz2">
        <div class="link-card" hx-trigger="click" hx-get="/hawkeye" hx-target="main" hx-swap="innerHTML">
            <span><img src="assets/images/mcu/hawkeye.avif" alt="" /></span>
        </div>
    </div>
    <div class="baz2">
        <div class="link-card" hx-trigger="click" hx-get="/iamgroot" hx-target="main" hx-swap="innerHTML">
            <span><img src="assets/images/mcu/iamgroot.avif" alt="" /></span>
        </div>
    </div>
    <div class="baz2">
        <div class="link-card" hx-trigger="click" hx-get="/loki" hx-target="main" hx-swap="innerHTML">
            <span><img src="assets/images/mcu/loki.avif" alt="" /></span>
        </div>
    </div>
    <div class="baz2">
        <div class="link-card" hx-trigger="click" hx-get="/moonknight" hx-target="main" hx-swap="innerHTML">
            <span><img src="assets/images/mcu/moonknight.avif" alt="" /></span>
        </div>
    </div>
    <div class="baz2">
        <div class="link-card" hx-trigger="click" hx-get="/secretInvasion" hx-target="main" hx-swap="innerHTML">
            <span><img src="assets/images/mcu/secret_invasion.avif" alt="" /></span>
        </div>
    </div>
    <div class="baz2">
        <div class="link-card" hx-trigger="click" hx-get="/shehulk" hx-target="main" hx-swap="innerHTML">
            <span><img src="assets/images/mcu/shehulk.avif" alt="" /></span>
        </div>
    </div>
    <div class="baz2">
        <div class="link-card" hx-trigger="click" hx-get="/wandavision" hx-target="main" hx-swap="innerHTML">
            <span><img src="assets/images/mcu/wandavision.avif" alt="" /></span>
        </div>
    </div>
    <div class="baz2">
        <div class="link-card" hx-trigger="click" hx-get="/whatif" hx-target="main" hx-swap="innerHTML">
            <span><img src="assets/images/mcu/whatif.avif" alt="" /></span>
        </div>
    </div>
</div>
{{ end }}