{{ define "tv_scifi" }}
    <div class="bar">
        <div class="baz2">
            <div class="link-card" hx-trigger="click" hx-get="/threebodyproblem" hx-target="main" hx-swap="innerHTML">
                <span><img src="assets/images/scifi/3bodyproblem.webp" alt="" /></span>
            </div>
        </div>
        <div class="baz2">
            <div class="link-card" hx-trigger="click" hx-get="/alteredcarbon" hx-target="main" hx-swap="innerHTML">
                <span><img src="assets/images/scifi/alteredcarbon.avif" alt="" /></span>
            </div>
        </div>
        <div class="baz2">
            <div class="link-card" hx-trigger="click" hx-get="/cowboybebop" hx-target="main" hx-swap="innerHTML">
                <span><img src="assets/images/scifi/cowboy_bebop.avif" alt="" /></span>
            </div>
        </div>
        <div class="baz2">
            <div class="link-card" hx-trigger="click" hx-get="/fallout" hx-target="main" hx-swap="innerHTML">
                <span><img src="assets/images/scifi/fallout.webp" alt="" /></span>
            </div>
        </div>
        <div class="baz2">
            <div class="link-card" hx-trigger="click" hx-get="/forallmankind" hx-target="main" hx-swap="innerHTML">
                <span><img src="assets/images/scifi/forallmankind.avif" alt="" /></span>
            </div>
        </div>
        <div class="baz2">
            <div class="link-card" hx-trigger="click" hx-get="/foundation" hx-target="main" hx-swap="innerHTML">
                <span><img src="assets/images/scifi/foundation.avif" alt="" /></span>
            </div>
        </div>
        <div class="baz2">
            <div class="link-card" hx-trigger="click" hx-get="/halo" hx-target="main" hx-swap="innerHTML">
                <span><img src="assets/images/scifi/halo.avif" alt="" /></span>
            </div>
        </div>
        <div class="baz2">
            <div class="link-card" hx-trigger="click" hx-get="/thelastofus" hx-target="main" hx-swap="innerHTML">
                <span><img src="assets/images/scifi/lastofus.avif" alt="" /></span>
            </div>
        </div>
        <div class="baz2">
            <div class="link-card" hx-trigger="click" hx-get="/lostinspace" hx-target="main" hx-swap="innerHTML">
                <span><img src="assets/images/scifi/lostinspace.avif" alt="" /></span>
            </div>
        </div>


        <div class="baz2">
            <div class="link-card" hx-trigger="click" hx-get="/monarchlegacyofmonsters" hx-target="main" hx-swap="innerHTML">
                <span><img src="assets/images/scifi/monarchlegacyofmonsters.webp" alt="" /></span>
            </div>
        </div>
        <div class="baz2">
            <div class="link-card" hx-trigger="click" hx-get="/nightsky" hx-target="main" hx-swap="innerHTML">
                <span><img src="assets/images/scifi/nightsky.avif" alt="" /></span>
            </div>
        </div>
        <div class="baz2">
            <div class="link-card" hx-trigger="click" hx-get="/orville" hx-target="main" hx-swap="innerHTML">
                <span><img src="assets/images/scifi/orville.avif" alt="" /></span>
            </div>
        </div>
        <div class="baz2">
            <div class="link-card" hx-trigger="click" hx-get="/raisedbywolves" hx-target="main" hx-swap="innerHTML">
                <span><img src="assets/images/scifi/raisedbywolves.avif" alt="" /></span>
            </div>
        </div>
        <div class="baz2">
            <div class="link-card" hx-trigger="click" hx-get="/silo" hx-target="main" hx-swap="innerHTML">
                <span><img src="assets/images/scifi/silo.webp" alt="" /></span>
            </div>
        </div>
        
    </div>
{{ end }}