{{ define "mtv_tvshows" }}
    <div class="tvList">
        <span class="tvListA" hx-trigger="click" hx-get="/tvaction" hx-target="main" hx-swap="innerHTML"><p class="tv">Action</p></span>
        <span class="tvListA" hx-trigger="click" hx-get="/tvcomedy" hx-target="main" hx-swap="innerHTML"><p class="tv">Comedy</p></span>
        <span class="tvListA" hx-trigger="click" hx-get="/tvfantasy" hx-target="main" hx-swap="innerHTML"><p class="tv">Fantasy</p></span>
        <span class="tvListA" hx-trigger="click" hx-get="/tvstartrek" hx-target="main" hx-swap="innerHTML"><p class="tv">Star Trek</p></span>
        <span class="tvListA" hx-trigger="click" hx-get="/tvstarwars" hx-target="main" hx-swap="innerHTML"><p class="tv">Star Wars</p></span>
        <span class="tvListA" hx-trigger="click" hx-get="/tvscifi" hx-target="main" hx-swap="innerHTML"><p class="tv">SciFi</p></span>
        <span class="tvListA" hx-trigger="click" hx-get="/tvscience" hx-target="main" hx-swap="innerHTML"><p class="tv">Science</p></span>
        <span class="tvListA" hx-trigger="click" hx-get="/tvmcu" hx-target="main" hx-swap="innerHTML"><p class="tv">MCU</p></span>
        <span class="tvListA" hx-trigger="click" hx-get="/tvwestern" hx-target="main" hx-swap="innerHTML"><p class="tv">Western</p></span>
    </div>
{{ end }}