{{ define "tv_startrek" }}
    <div class="bar">
        <div class="baz2">
            <div class="link-card" hx-trigger="click" hx-get="/strangenewworlds" hx-target="main" hx-swap="innerHTML">
                <span><img src="assets/images/startrek/strangenewworlds.avif" alt="" /></span>
            </div>
        </div>
        <div class="baz2">
            <div class="link-card" hx-trigger="click" hx-get="/discovery" hx-target="main" hx-swap="innerHTML">
                <span><img src="assets/images/startrek/discovery.avif" alt="" /></span>
            </div>
        </div>
        <div class="baz2">
            <div class="link-card" hx-trigger="click" hx-get="/picard" hx-target="main" hx-swap="innerHTML">
                <span><img src="assets/images/startrek/picard.avif" alt="" /></span>
            </div>
        </div>
        <div class="baz2">
            <div class="link-card" hx-trigger="click" hx-get="/lowerdecks" hx-target="main" hx-swap="innerHTML">
                <span><img src="assets/images/startrek/lowerdecks.avif" alt="" /></span>
            </div>
        </div>
        <div class="baz2">
            <div class="link-card" hx-trigger="click" hx-get="/prodigy" hx-target="main" hx-swap="innerHTML">
                <span><img src="assets/images/startrek/prodigy.avif" alt="" /></span>
            </div>
        </div>
        <div class="baz2">
            <div class="link-card" hx-trigger="click" hx-get="/enterprise" hx-target="main" hx-swap="innerHTML">
                <span><img src="assets/images/startrek/enterprise.avif" alt="" /></span>
            </div>
        </div>
        <div class="baz2">
            <div class="link-card" hx-trigger="click" hx-get="/voyager" hx-target="main" hx-swap="innerHTML">
                <span><img src="assets/images/startrek/voyager.avif" alt="" /></span>
            </div>
        </div>
        <div class="baz2">
            <div class="link-card" hx-trigger="click" hx-get="/nextgeneration" hx-target="main" hx-swap="innerHTML">
                <span><img src="assets/images/startrek/nextgen.avif" alt="" /></span>
            </div>
        </div>
        <div class="baz2">
            <div class="link-card" hx-trigger="click" hx-get="/sttv" hx-target="main" hx-swap="innerHTML">
                <span><img src="assets/images/startrek/sttv.avif" alt="" /></span>
            </div>
        </div>
    </div>
{{ end }}