{{ define "tv_starwars" }}
    <div class="bar">
        <div class="baz2">
            <div class="link-card" hx-trigger="click" hx-get="/ahsoka" hx-target="main" hx-swap="innerHTML">
                <span><img src="assets/images/starwars/ahsoka.webp" alt="" /></span>
            </div>
        </div>
        <div class="baz2">
            <div class="link-card" hx-trigger="click" hx-get="/andor" hx-target="main" hx-swap="innerHTML">
                <span><img src="assets/images/starwars/andor.avif" alt="" /></span>
            </div>
        </div>
        <div class="baz2">
            <div class="link-card" hx-trigger="click" hx-get="/badbatch" hx-target="main" hx-swap="innerHTML">
                <span><img src="assets/images/starwars/badbatch2.avif" alt="" /></span>
            </div>
        </div>
        <div class="baz2">
            <div class="link-card" hx-trigger="click" hx-get="/bobafett" hx-target="main" hx-swap="innerHTML">
                <span><img src="assets/images/starwars/bobafett.avif" alt="" /></span>
            </div>
        </div>
        <div class="baz2">
            <div class="link-card" hx-trigger="click" hx-get="/mandalorian" hx-target="main" hx-swap="innerHTML">
                <span><img src="assets/images/starwars/mandalorian.avif" alt="" /></span>
            </div>
        </div>
        <div class="baz2">
            <div class="link-card" hx-trigger="click" hx-get="/obiwan" hx-target="main" hx-swap="innerHTML">
                <span><img src="assets/images/starwars/obiwan.avif" alt="" /></span>
            </div>
        </div>
        <div class="baz2">
            <div class="link-card" hx-trigger="click" hx-get="/talesofthejedi" hx-target="main" hx-swap="innerHTML">
                <span><img src="assets/images/starwars/talesofthejedi.avif" alt="" /></span>
            </div>
        </div>
        <div class="baz2">
            <div class="link-card" hx-trigger="click" hx-get="/visions" hx-target="main" hx-swap="innerHTML">
                <span><img src="assets/images/starwars/visions.avif" alt="" /></span>
            </div>
        </div>
    </div>
{{ end }}